DJANGO_KEY=Secret_Key_For_Django
AWS_ACCESS_KEY_ID=External_Storage_ID_misol_uchun_Minio
AWS_S3_ENDPOINT_URL=S3_url
AWS_STORAGE_BUCKET_NAME=bucket_ismi_masalan_axrorback_kabi
AWS_SECRET_ACCESS_KEY=Secret_key
BOT_TOKEN=Bot_uchun_token
MAIL_PASSWORD=Password_Mail